# Ignore node_modules directory
node_modules/

# Ignore all .log files
*.log

# Ignore all .env files
.env

# Ignore build directory
build/

# Ignore all files ending with .tmp
*.tmp

# Ignore .DS_Store (macOS)
.DS_Store